@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background: #C8D3D5;

    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

header {
    padding: 15px;
}

header a {
    text-decoration: none;
}

main {
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 3px #333333;

    background: #1793d0;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}